<div class="blog">
  <div class="container">
    <div class="single-inline wow fadeInLeft animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
      <% @articles.each do |article| %>
        <div class="blog-to">
          <div class="blog-top">
            <div class="blog-left">
              <b><%= article.created_at.strftime("%d") %></b>
              <span><%= article.created_at.strftime("%m") %>月</span>
            </div>
            <div class="top-blog">
              <%= link_to article.title, article_path(article.en_title), :class => "fast" %>
              <p class="sed"><%= article.description %></p>
              <%= link_to "查看更多", article_path(article.en_title), :class => "more" %>

            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      <% end %>
    </div>
    <nav>
      <%= will_paginate @collection, renderer: BootstrapPagination::Rails, :previous_label=>"上一页", :next_label=>"下一页" %>
    </nav>
  </div>
</div>