<!--single_page -->
<div class="container">
  <div class="single wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
    <div class="blog-to">
      <div class="blog-top">
        <div class="blog-left">
          <b><%= @article.created_at.strftime("%d") %></b>
          <span><%= @article.created_at.strftime("%m") %>月</span>
        </div>
        <div class="top-blog">
          <a class="fast" href="#"><%= @article.title %></a>
          <p class="sed"><%= @article.content.try(:html_safe) %></p>
		  <div class="mg-t-3em">
          <% arr = Array.new(2){Array.new} %>
          <% Article.except_news_list(@article).each_with_index{|e, index|index%2==0 ? arr[0]<<e : arr[1]<<e} %>
          <% arr.each do |news_list| %>
            <div class="col-md-6 md-in">
              <ul class="grid-part">
                <% news_list.each do |news| %>
                  <li>
                    <%= link_to article_path(news.en_title) do %>
                      <i class="sign"> </i><%= news.title %>
                    <% end%>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="clearfix"> </div>
          </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <div class="single-bottom leave-message">
      <h3>给我们留言</h3>
	  <form id="leave-message">
      <div class="col-md-4 comment">
        <input name="comment[name]" type="text" placeholder="姓名">
      </div>
      <div class="col-md-4 comment">
        <input name="comment[phone]" type="text" placeholder="电话">
      </div>
      <div class="col-md-4 comment">
        <input name="comment[wechat]" type="text" placeholder="微信号">
      </div>
      <div class="clearfix"> </div>
      <textarea name="comment[message]" cols="77" rows="6" value=" " placeholder="留言"></textarea>
      <input type="submit" value="提交" >
	  </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$("form#leave-message").submit(function(){
  $.ajax({
	 url:'<%= home_new_comment_path %>',
     type:'POST',
     dataType:'json',
     data: $("form#leave-message").serialize(),
     success:function(data){
       if(data.rcord == 1){
         $(".leave-message h3").before('<div class="alert alert-success" role="alert"><%= flash[:notice] %></div>');
	   }else{
         $(".leave-message h3").before('<div class="alert alert-danger" role="alert"><%= flash[:error] %></div>');
	   }
	   setTimeout('$(".alert").fadeOut();', 1000);
     },
     error:function(data){
		 alert("faild");
     }
  });
  return false;
})
</script>
<style type="text/css">
  .alert{
    position: fixed;
    left: calc(40%);
    top: 50%;
    width: 300px;
  }
</style>